/* define your style here */

/* apply a natural box layout model to all elements */
/* http:/mainNavigation/paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    -webkit-font-smoothing: anti-aliased;
}

body {
	text-align: center;
}

label {
	width: 135px;
	display: inline-block;
}

.info > div  {
	background-color: #c4c4c4;
	border: 1px solid #000000;
	margin-bottom: 3px;
	padding: 2px;
	text-align: left;
}
.btn {
	padding: 3px 9px;
	border: 1px solid #000000;
	background-color: #c4c4c4;
	display: inline-block;
	width: 10%;
	text-align: center;
	cursor: pointer;
	min-width: 68px;
}
.btn:hover {
	background-color: #000000;
	border-color: #c4c4c4;
	color: #FFFFFF;
}
.btn.disabled {
	background-color: #FFFFFF;
	border-color: #c4c4c4;
}